h1{
  color: blue;
}

p{
  font-style: italic;
}

.flashy{
  color: red;
  font-style: italic;
}

.best{
  font-size: 100px;
  color: forestgreen;
  font-weight: bold;
  text-align: center;
}

.badass{
  font-style: oblique;
  color: teal;
}
